
<h3>Creating profile</h3>

<pre>
notes for later:
  -want to fill in profile data now?
  -register w/ ORCID and pull in profile data? => register_orcid
  -nah, I'll do it later => go to destination if available
</pre>


<%= render "retrieve_external_profile_form.html.erb" %>


<!-- ToDo put this in a collapsible block, show if user selects "enter  by hand above? -->

<%= render "profile_form" %>
