    <h2>ORCID Registration wizard</h2>

    <p>&nbsp;</p>

    <div class="well">

       <h4>Do you already have an ORCID?</h4>

         <p>&nbsp;</p>
         <p>
           <span class="label label-success">YES</span>&nbsp;
           <strong><%= link_to "Connect my ORCID account with my JPC account now", "/auth/orcid" %></strong>
         </p> 

         <p>
          <span class="label">NO</span>&nbsp;
          <strong><a href="http://www.orcid.org">Go to the ORCID
          registration page</a></strong> to sign up, then return to this page.
        </p>

      </div>

