<h1>Authorize access to your ORCID profile</h1>

The web site <%= link_to @token.client_application.name,@token.client_application.url %> would like to access your profile on  your behalf.</p>

<p>If you trust this site and would like to allow this, click the  "Grant Access" button below. </p>

<br />

<% form_tag authorize_url, :method => 'post', :multipart => true do %>

  <%= hidden_field_tag "oauth_token", @token.token -%>

<p>

  <a href="<%= @token.client_application.callback_url %>?oauth_problem=user_refused">Cancel</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= submit_tag "Grant Access", :name => "authorize" %>
  </p>

<% end %>
